{% extends "base.html" %}

{% block contenido %}

<div class="card-body">
    <h5 class="card-title">Productos</h5>
    <a class="btn btn-primary" href="/productos/nuevo" role="button">Agregar</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
            <tr>
              <th scope="row">{{d.id}}</th>
              <td>{{d.titulo}}</td>
              <td>${{d.precio}}</td>
              <td>
                <a href="/productos/modificar/{{ d.id }}" class="btn btn-success">Editar</a>
                <a href="/api/productos/eliminar/{{ d.id }}" class="btn btn-danger">Elimnar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}